NODE_ENV=production
PORT=3000

DATABASE_URL=postgresql://remna_user:remna_pass@postgres:5432/remna_bot?schema=public

TELEGRAM_BOT_TOKEN=8773414163:AAFOh2AWW0tMZiez9_gYpcpXWK7Fp2xEFJU
ADMIN_TELEGRAM_IDS=5355810601

REMNAWAVE_API_BASE_URL=https://panel.wscloudflarexl.space/api
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiNjRjYWU1YTUtYjFlZC00OGRiLTk3NWYtNDUxNDJiZjZiZmI3IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3NzUxOTI5NDgsImV4cCI6MTA0MTUxMDY1NDh9.i_STZmrmsAaPfZ4NFqAlMmt_KkXe_6YLldGV_6gdU3Q
REMNAWAVE_TIMEOUT_MS=10000
HAPP_CRYPTO_API_URL=https://crypto.happ.su/api-v2.php
HAPP_CRYPTO_TIMEOUT_MS=10000

STANDARD_SQUAD_ID=7d634a59-efbf-4b46-9860-a58250aa2421
PREMIUM_SQUAD_ID=6b1e81a7-4bc0-4db8-842c-9373c107be9a
